body{
	font-family: Arial, sans-serif; margin: 20px; background-color: #a4a3cb;
}
a{
	color: black; font-family: Georgia;
}

.t{
	padding: 30px; 
	background-color: #f08;
	text-align: center;
	font-size: 2.4rem;
	border-radius: 20px;
	margin-bottom: 60px;
	box-shadow: 0 0 8px #000000;
}
	
.fl{
	display: flex;
	justify-content: space-between;
	padding: 0px 30px;
	gap: 20px;
}
	
.box{
	background-color: #ededed;
	color: black;
	padding: 20px;
	text-align: center;
	flex: 1;
	border-radius: 15px;
	box-shadow: 0 0 8px #000000;
	transition: box-shadow 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95), transform 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}.box:hover{
	box-shadow: 0 5px 12px #000000bf;
	transform: translate(0,-5px);
